---
const signUpUrl = import.meta.env.SIGN_UP_URL;
---

<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
      >
        Stop figuring it out as you go. Start running your startup with systems
        that scale.
      </h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-600">
        Join founders who stopped reinventing company processes and started
        focusing on what matters—building great products.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href={signUpUrl}
          class="rounded-md bg-operately-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-operately-dark-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-operately-dark-blue"
          >Get Operately free</a
        >
        <a href="/install" class="text-sm font-semibold leading-6 text-gray-900"
          >Self-host today <span aria-hidden="true">→</span></a
        >
      </div>
    </div>
  </div>
</div>
