---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "./_features/Header.astro";
import Goals from "./_features/Goals.astro";
import Projects from "./_features/Projects.astro";
import Security from "./_features/Security.astro";
import CTA from "./_features/CTA.astro";

const pageTitle = "Features";
const pageDescription =
  "Operately combines the best of project management, goal setting, and process management tools to help you run your company like a high performance machine.";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  image={"/images/social/card-summary-large.png"}
  twitterCardType="summary_large_image"
>
  <main class="bg-white">
    <Header />
    <Goals />
    <Projects />
    <Security />
    <CTA />
  </main>
</BaseLayout>
