---
import BaseLayout from "../layouts/BaseLayout.astro";

import Header from "./features/Header.astro";
import Goals from "./features/Goals.astro";
import GoalsLeft from "./features/GoalsLeft.astro";
import Projects from "./features/Projects.astro";
import Security from "./features/Security.astro";
import CTA from "./features/CTA.astro";

const pageTitle = "Features";
const pageDescription =
  "Operately combines the best of project management, goal setting, and process management tools to help you run your company like a high performance machine.";
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  image={"/images/social/card-summary-large.png"}
  twitterCardType="summary_large_image"
>
  <main class="bg-white">
    <Header />
    <GoalsLeft />
    <!-- <Goals /> -->
    <Projects />
    <Security />
    <CTA />
  </main>
</BaseLayout>
