---
const socialImageUrl = new URL(
  "/images/social/card-summary-large.png",
  Astro.site,
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>The Operately Employee Playbook</title>
    <meta name="description" content="How we work at Operately." />
    <meta name="twitter:description" content="How we work at Operately" />
    <meta property="og:title" content="The Operately Employee Handbook" />
    <meta property="og:site_name" content="Operately" />
    <meta property="og:image" content={socialImageUrl} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@operately" />
    <meta name="twitter:title" content="The Operately Employee Handbook" />
    <meta name="twitter:image" content={socialImageUrl} />
  </head>
  <body class="dark:bg-zinc-800">
    <div class="flex min-h-full flex-col">
      <div
        class="mx-auto flex w-full max-w-7xl items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8 mt-10"
      >
        <aside class="sticky top-8 w-80 shrink-0 hidden sm:block">
          <header class="mt-6">
            <p class="text-right font-sans">
              <em
                ><a
                  href="/"
                  class="text-operately-blue hover:text-operately-dark-blue dark:text-white dark:hover:text-zinc-400 underline"
                  >← Operately.com</a
                ></em>
            </p>
          </header>
        </aside>

        <main class="flex-1 mt-4 font-serif">
          <h1 class="text-4xl font-bold mb-6 dark:text-white">
            The Operately Employee Handbook
          </h1>
          <p class="text-2xl mb-12 dark:text-zinc-300">
            Everything you need to know about working at Operately.
          </p>
          <a
            href="/handbook/getting-started/"
            class="bg-operately-blue hover:bg-operately-dark-blue text-white font-semibold py-2.5 px-4 rounded-full"
            >Start Reading →</a
          >

          <hr class="mt-12" />

          <div class="mt-4">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 1</p>
            <h3 class="text-2xl">
              <a href="/handbook/getting-started/" class="underline dark:text-zinc-100">Getting Started</a>
            </h3>
          </div>

          <div class="mt-8">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 2</p>
            <h3 class="text-2xl">
              <a href="/handbook/about-operately/" class="underline dark:text-zinc-100">About Operately</a>
            </h3>
          </div>

          <div class="mt-8">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 3</p>
            <h3 class="text-2xl">
              <a href="/handbook/our-values/" class="underline dark:text-zinc-100">Our Values</a>
            </h3>
          </div>

          <div class="mt-8">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 4</p>
            <h3 class="text-2xl">
              <a href="/handbook/cadence/" class="underline dark:text-zinc-100">Cadence</a>
            </h3>
          </div>

          <div class="mt-8">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 5</p>
            <h3 class="text-2xl">
              <a href="/handbook/tools/" class="underline dark:text-zinc-100">Tools</a>
            </h3>
          </div>

          <div class="mt-8">
            <p class="text-sm uppercase dark:text-zinc-300">Chapter 6</p>
            <h3 class="text-2xl">
              <a href="/handbook/building-a-career/" class="underline dark:text-zinc-100">Career</a>
            </h3>
          </div>

          <footer class="dark:text-zinc-300">
            <hr class="mt-12 mb-12" />
            <p class="italic text-sm">
              Copyright © 2024 Operately DOO. All rights reserved.
            </p>
          </footer>
        </main>
      </div>
    </div>
  </body>
</html>
