---
interface Props {
  title: string;
}

import Header from '../components/Header';
import Footer from '../components/Footer';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>{title} - Operately</title>
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
