---
import BaseLayout from "./BaseLayout.astro";
import releaseCard from "../content/releases/assets/releases-card.jpeg";
import "../styles/global.css";
import "../styles/anchor-links.css";

const { title, description } = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  image={releaseCard.src}
  twitterCardType="summary_large_image"
>
  <slot name="head" slot="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Operately Releases"
      why
      href={new URL("/releases/rss.xml", Astro.site)}
    />
    <!-- we can't use `head` in further pages as it would override the above, hence a new slot -->
    <slot name="head-releases" />
  </slot>

  <main class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-8 lg:py-12">
    <div class="flex flex-col lg:flex-row gap-12">
      <div class="flex-1">
        <slot />
      </div>
    </div>
  </main>
</BaseLayout>
